@import './loading.scss';
@import './breadcrumb.scss';
@import './operation/footer.scss';
@import './operation/form.scss';
@import './operation/topbar.scss';
@import './operation/menu_list.scss';

.ant-modal {
  min-width: 560px !important;
  width: auto !important;
}

.custom_operation_modal .ant-modal-content {
  padding: 0 !important;
  border-radius: 0 !important;
}

.custom_operation_modal .ant-modal-body {
  padding: 10px !important;
}

.custom_operation_modal .ant-modal-close {
  top: 4.5px !important;
  color: #fff !important;
}

.custom_operation_modal .ant-modal-header {
  border-radius: 0 !important;
  background-color: red !important;
  height: 30px !important;
  background: rgb(0, 62, 75) !important;
  background: linear-gradient(90deg,
      rgba(0, 62, 75, 1) 48%,
      rgba(0, 57, 107, 1) 100%) !important;
  padding: 5px;
}

.custom_operation_modal .ant-modal-title {
  color: #fff !important;
  font-family: 'Gilroy-bold' !important;
  text-transform: uppercase;
}

.operation_row_control {
  display: flex;
  justify-content: space-between !important;
  width: 100% !important;
}

.form_modal {
  display: flex;
  flex-direction: column;
  max-width: 100% !important;

  .section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap !important;
    margin-top: 10px;
    row-gap: 10px;
  }

  .align_end {
    justify-content: flex-end;
  }
}

.operation_modal_button {
  border-radius: 5px !important;
  border-color: transparent !important;
  color: #023d49 !important;
  font-family: 'Gilroy-Bold' !important;
  min-width: 90px !important;
  margin-right: 12px;
}

.ok_button {
  background-color: #d4edda !important;
}

.cancel_button {
  background-color: #f8d7da !important;
}