@import './login.scss';
@import './dashboard/candidates.scss';

.version_tag {
  position: absolute;
  bottom: 5px;
  left: 5px;

  span {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
  }
}

.not-allow {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-label-section {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .version_tag {
    span {
      color: #000;
      font-size: 8px;
    }
  }
}
