.contenedor {
  width: 800px;
  height: 50px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  padding: 10px;
  color: #00c3de;
  border: none;
  border-top-left-radius: 15px;
  outline: none;
  transition: bottom 1s ease;
  transform-origin: top center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    to right,
    rgba(0, 82, 118, 1),
    rgba(16, 26, 50, 1)
  );
  font-size: 18px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.indicadorColor {
  width: 40px;
  height: 20px;
  border-radius: 5px;
}

p {
  margin-left: 8px;
  margin-right: 40px;
}

.botonMostrarTickets {
  width: 180px;
  height: 50px;
  position: absolute;
  right: 20px;
  bottom: 100px;
  z-index: 1;
  padding: 10px;
  color: #00c3de;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  transition: bottom 1s ease;
  transform-origin: top center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    to right,
    rgba(16, 26, 50, 1),
    rgba(0, 82, 118, 1)
  );
  font-size: 20px;
}

.botonMostrarTickets.oculto {
  bottom: -100px;
}

.contenedorTickets {
  width: 800px;
  height: 500px;
  position: fixed;
  right: 0px;
  bottom: -500px;
  z-index: 3;
  padding: 10px;
  color: #00c3de;
  border: none;
  border-top-left-radius: 15px;
  outline: none;
  transition: bottom 1s ease;
  transform-origin: top center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    to right,
    rgba(0, 82, 118, 1),
    rgba(16, 26, 50, 1)
  );
  font-size: 18px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contenedorTickets.visible {
  bottom: 0;
}
.botonCerrar {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2;
  padding: 5px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
