.containerImgTxtBox

{

    width: 200px;
    height: 80px;
    align-items: center;
    justify-items: center;
    position: relative;
}
.imagenTextBox

{
    width: 180px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

}

.TextOption
{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    color: #00c3de; 
}

