#add_group {
  background-image: url('/assets/images/icons/operation/AGREGAR.png');
}

#edit_group {
  background-image: url('/assets/images/icons/operation/MODIFICAR.png');
}

#delete_group {
  background-image: url('/assets/images/icons/operation/ELIMINAR.png');
}
