#filter_list {
  background-image: url('/assets/images/icons/operation/NOVEDADES.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  height: 100%;
  cursor: pointer;
}

#add_list {
  background-image: url('/assets/images/icons/operation/AGREGAR.png');
}

#edit_list {
  background-image: url('/assets/images/icons/operation/MODIFICAR.png');
}

#delete_list {
  background-image: url('/assets/images/icons/operation/ELIMINAR.png');
}
