#new {
  background-image: url('/assets/images/icons/operation/SOLICITUD-BLANCO.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  height: 100%;
  cursor: pointer;
}

#template {
  background-image: url('/assets/images/icons/operation/PLANTILLA-CARGUE-MASIVO.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  height: 100%;
  cursor: pointer;
}

#edit {
  background-image: url('/assets/images/icons/operation/EDITAR.png');
}

#delete {
  background-image: url('/assets/images/icons/operation/BORRAR-BLANCO.png');
}

#register {
  background-image: url('/assets/images/icons/operation/RADICAR-BLANCO.png');
}
