#new_role {
  background-image: url('/assets/images/icons/operation/SOLICITUD-BLANCO.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  height: 100%;
  cursor: pointer;
}

#search_role {
  background-image: url('/assets/images/icons/operation/BUSCAR.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  height: 100%;
  cursor: pointer;
}

#edit_role {
  background-image: url('/assets/images/icons/operation/EDITAR.png');
}

#delete_role {
  background-image: url('/assets/images/icons/operation/BORRAR-BLANCO.png');
}
