#new_request_search {
  background-image: url('/assets/images/icons/operation/SOLICITUD-BLANCO.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  height: 100%;
  cursor: pointer;
}

#report_search {
  background-image: url('/assets/images/icons/operation/INFORME-BLANCO.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  height: 100%;
  cursor: pointer;
}
